<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/548de7e7-3aa7-4b4a-8187-4bc8cccceeb6/resourceGroups/rg-ai200-labs/providers/Microsoft.ContainerRegistry/registries/acrai200labs</ResourceId>
    <ResourceName>acrai200labs</ResourceName>
    <ResourceGroup>rg-ai200-labs</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://acrai200labs.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <_TargetId>AzureConsoleContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>